
.catagory-items-sidebar-1 {
	margin-left: 10px;
}



.catagory-items-sidebar-1-heading {
    color: #FE980F;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {

	.catagory-items {
		padding: 15px 35px;
	}

	.catagory-items-sidebar-1-heading {
		font-size: 20px;
	    font-weight: bold;
        margin: 12px 0;
	    padding: 35px 0;
	}
}

.catagory-collapse-option {
	border: none;
	color: #696763;
	padding: 5px;	
		a {
		    color: #696763d1;
		    text-decoration: none;
			font-size: 14px;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			line-height: 1.9;
		}

		.my-collapse-items {
			margin: 10px 0;
			padding: 0 10px;
		}
}

.catagory-sidebar {
    border: 1px solid #f5e0e080;
    padding: 15px 0 15px 0px;

    .collapse-option-items {
    	font-size: 12px;
	    padding: 2px 10px 2px 10px;
    }
}

@media only screen and (max-width: 768px) {
	.catagory-sidebar {
		padding: 0;

		.collapse-option-section {
			margin: 5px 0;
		}

		.collapse-option-items {
			font-size: 12px;
			margin-left: 15px;
			margin-top: 5px;
	    }

	    .catagory-collapse-option {
	    	a {
				font-size: 14px;
			    font-family: 'Roboto', sans-serif;
			    font-weight: bold;
			    line-height: 1.5;
			    margin-left: 15px;
	    	}
	    }
	}
}

.brands-items-sidebar-heading {	
	color: #FE980F;
    text-transform: uppercase;
    font-size: 18px;
    margin: 25px;
}

@media only screen and (max-width: 768px){
	.brands-items-sidebar-heading{
		font-size: 20px;
		font-weight: bold;
		margin: 10px 0;
		padding: 30px 0;
	}	
}

    


.price-range {

    

	.price-sidebar-heading {
		color: #FE980F;
	    text-transform: uppercase;
	    font-size: 18px;
	    margin: 25px;
	    font-weight: bold;
	}

	.slidecontainer {
		margin-top: 10px;
		width: 100%;
		background-color: #FFFFFF;
	    border-radius: 4px;
	    box-shadow: none;
	    margin-bottom: 3px;
        padding: 20px 5px 5px 5px;
	    border: 1px solid #f5e0e080;



		.slider {
			-webkit-appearance: none;
		    width: 75%;
		    background: #d3d3d3;
		    outline: none;
		    opacity: 0.7;
		    -webkit-transition: .2s;
		    transition: opacity .2s;
	        border-radius: 30px;
            margin-top: 8px;

	        	.slider::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 25px;
					height: 25px;
					background: #4CAF50;
					cursor: pointer;
				}
		}

		.price-range-amount {
			padding-top: 0;
		}
		

		@media only screen and (max-width: 768px) {
			.price-range-amount{
				margin-right: 154px;	
			}	
		}		
		

		.price-range-right {
		    padding: 0 15px 5px 5px;
		    font-size: 13px;
		    font-weight: bold;
		}

		.price-range-left {
			font-size: 13px;
			font-weight: bold;
			margin-left: 130px;
		}
	}	
}


.free-shipping {
    width: 100%;
    height: 338px;
    margin-top: 45px;
}

@media only screen and (max-width: 768px) {
	.free-shipping {
	    padding: 0 10px;
	}	
}


.brands-sidebar {
	border: 1px solid #f5e0e080;
	padding: 12px;

	.brands-collapse-option {
		border: none;
		color: #000;
		padding: 5px;
			a {
				color: #696763f7;
				text-decoration: none;
				font-size: 14px;
				font-family: 'Roboto', sans-serif;
				line-height: 1.6;
			}
	}
}

@media only screen and (max-width: 768px) {

	.brands-sidebar{
		.brands-collapse-option{
			a {
				font-size: 14px;
			    font-family: 'Roboto', sans-serif;
			    font-weight: bold;
			    line-height: 1.5;
			    margin-left: 15px;	
			}
		}
	}
	
}

    



.padding-left {
    padding-left: 0;
    padding-right: 35px;

	h2::before,
	h2::after {
		display: inline-block;
		content: "";
		border-top: 2px solid #f5f5f5;
		width: 34px;
		margin: 5px 5px;
	}
}

@media only screen and (max-width: 768px) {
	.padding-left {
		padding-left: 0;
    	padding-right: 0;
	}
}




/*right*/


.features-items-section {
    padding-left: 40px;

    h2 {
	    font-size: 18px;
	}
	h2::before,
	h2::after {
		display: inline-block;
		content: "";
		border-top: 2px solid #f5f5f5;
		width: 265px;
		margin: 5px 35px;
	}

	@media only screen and (max-width: 768px) {
		h2::before,
		h2::after {
			display: inline-block;
			content: "";
			border-top: 2px solid #f5f5f5;
			width: 29px;
			margin: 5px 5px;
		}
	}
	

    .features-items-heading {
		color: #FE980F;
	    text-transform: uppercase;
	    font-size: 18px;
        font-weight: bold;
    }


	@media only screen and (max-width: 768px) {
		.features-items-heading {
	    	padding: 45px 0;
	    }

	    .features-items-section {
		    padding-left: 20px;
		}	
	}
    

	.wishlist-compare {
		.wishlist-button-more {
		    width: 110px;
		    padding: 8px 1px;
		    font-size: 12px;
		    border: none;
		    color: #B3AFA8;
            margin: 8px;

		    &:hover {
				background-color: #fff;
				color: #FE980F;

				.wishlist-btn-icon {
					color: #FE980F;
				}
		    }

			&:active {
		    	background-color: #eee;
		    }

		    .wishlist-btn-icon {
				color: #B3AFA8;
				padding: 0 10px 0 4px;
		    }
		}

	}

	@media only screen and (max-width: 768px) {
		.wishlist-compare {
			display: none;
		}			
	}

	.features-image-thumbnile {
		display: flex;
		justify-content: center;
	    padding-top: 18px;

	    
		.features-price-section {
		    font-size: 22px;
		    font-weight: bold;
		    color: #FE980F;
		    margin-top: 5px;
		}

	    .button-more {
		    width: 125px;
		    margin: 10px 70px;
		    border: none;
		    background-color: #ebebeb;
		    color: #636c72;
		    line-height: 0.25;
		    &:hover {
		    	background-color: #FE980F;
		    	color: #fff;
		    }
		    .cart-button-icon {
			    margin-right: 5px;
		    }
		}
	}

	@media only screen and (max-width: 768px) {
		.features-image-thumbnile {
		    padding-top: 0;
            margin-left: 30px;
	    }
	}

	.catagory-navbar {
	    padding: 30px 0 20px 0;

		.my-catagory-nav {
			padding: 0;
			background: #40403E;

			a {
				color: #B3AFA8;
				font-family: 'Roboto', sans-serif;
			    font-size: 14px;
			    text-transform: uppercase;
				line-height: 2;
			    padding: 8px 13px;

			    &:hover {
					background-color: #FE980F;
					color: #fff;
				}

				&:active {
					background-color: #FE980F; 
				}			    
			}
		}
	}
	
	@media only screen and (max-width: 768px) {
		.catagory-navbar {
			display: none;
		}	
	}

	.responsive-navbar {
		display: none;
	}

	@media only screen and (max-width: 768px) {
		.responsive-navbar {
			display: block;
			background: #40403E;
			
			ul {
			    padding: 0;

				li {
					padding: 5px 16px;
					list-style: none;

					&:hover {
							background-color: #FE980F;
							border: 0px;

							a {
								color: #FFFFFF;
							}
					}

					a {
					    font-size: 12px;
						color: #B3AFA8;
					    font-family: 'Roboto', sans-serif;
				        text-transform: uppercase;
						display: block;
						padding: 5px;

					}
				}	
			}			
		}		
	}	
}

.catagory-price-section {
	margin-bottom: 2px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #FE980F;
}

.catagory-items-button-more {
    margin: 10px 28px;
    padding: 5px 12px;
    border-radius: 0;
    border: none;
    background: #ebebeb;
    color: #696763;

    &:hover {
    	background: #FE980F;
    	color: #fff;
    }

    .cart-button-icon {
	    padding: 0 5px;
    }
}

.catagory-items-thumbnil {
	border: 1px solid #f5e0e080; 
}

@media only screen and (max-width: 768px) {
	.catagory-items-thumbnil {
		border: 0; 
	}	
}

.recommended-items {

	margin: 20px 0;
	
	h2 {
	    font-size: 18px;
	}
	h2::before,
	h2::after {
		display: inline-block;
		content: "";
		border-top: 2px solid #f5f5f5;
		width: 292px;
		margin: 5px 10px;
	}

	.recommend-items-button-more {
	    margin: 10px 62px;
	    padding: 5px 12px;
	    border-radius: 0;
	    border: none;
	    background: #ebebeb;
	    color: #696763;

	    &:hover {
	    	background: #FE980F;
	    	color: #fff;
	    }

	    .cart-button-icon {
		    padding: 0 5px;
	    }
	}

	.recommended-items-heading {
		color: #FE980F;
	    text-transform: uppercase;
	    font-size: 18px;
        font-weight: bold;
        margin: 30px 0;
	}
}

@media only screen and (max-width: 768px) {
	.recommended-items {
		h2::before,
		h2::after {
			width: 25px;
			margin: 3px 2px
		}
	}
}



.overlay-container {
	position: relative;
	width: 100%;
	
		&:hover {
			.overlay {
				bottom: 0;
				height: 100%;
			}
		}

	.overlay-main-content {
		display: block;
		width: 90%;
		height: auto;

		.my-figure-caption {
			font-size: 14px;
    		color: #636c72;
		}

		.features-item-image {
			position: relative;
			right: 9px;
		}

		.corner-img {
			position: absolute;
			right: 28px;
			top: 0;
			z-index: 1;
		}

		@media only screen and (max-width: 768px) {
			.corner-img {
				top: -18px;
				right: 56px;			
			}		    
		}
    
	}

	.overlay {
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		background-color: #ef9d09f2;
		opacity: 0.8;
		overflow: hidden;
		width: 90%;
		height:0;
		transition: .5s ease;

		.overlay-hover-content {
			white-space: nowrap; 
			font-size: 17px;
			position: absolute;
			overflow: hidden;
			top: 317px;
			left: 133px;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			.overlay-figure-caption {
				font-size: 14px;
				padding-top: 1px;
				color: #fff;

			}

			.overlay-price-section {
				font-size: 22px;
			    font-weight: bold;
			    color: #fff;
			    margin-top: 5px;
			}

			

			.overlay-button-more {
			    width: 125px;
			    margin: 10px 70px;
			    border: none;
			    color: #FE980F;
			    line-height: 0.25;
			    &:hover {
					background-color: #fff;
					color: #ef9d09f2;
			    }
			    .cart-button-icon {
				    margin-right: 5px;
			    }
			}

			.catagory-items-button-more {
			    margin: 5px 0px 5px 30px;
			}
		}		
	}

	@media only screen and (max-width: 768px) {
		.overlay {
			width: 80%;
			height: 0;
			transition: .5s ease;
			margin-bottom: 20px;
			
			.overlay-hover-content {
				top: 339px
			}			
		}	
	}
		
}



.padding-0{
    padding-right:0;
    padding-left:0;
}