.logo-img {
	padding: 10px 5px;
	margin-left: 15px;
}




.dropbtn {
    background-color: #fff;
    color: #ccc;
    padding: 3px 20px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #c3c2c2;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 15px;

    &:hover {
    	background-color: #fe980f;
    	color: #fff;
    }
}



.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.show {display:block;}

.middle-header-nav {
	padding-top: 10px;

	.middle-header {
		ul {
			li {
				a{
					color: #696763bf;
					text-decoration: none;
					font-size: 14px;

					&:hover {
						color: #FE980F;
					}			
				}
			}
		}
	}	
}

@media only screen and (max-width: 768px) {
	
	.middle-header-nav {
	padding-top: 10px;

	.middle-header {
		ul {
			li {
				a{
					color: #696763bf;
					text-decoration: none;
					font-size: 11px;

					&:hover {
						color: #FE980F;
					}			
				}
			}
		}
	}	
}
		
}

	



